<div>
    <h2>CRUD Operations with JSON Server</h2>
</div>
<table>
    <thead>
        <tr>
            <th class="col-2">Id</th>
            <th class="col-2">Name</th>
            <th class="col-2">UserName</th>
            <th class="col-3">Email</th>
            <th class="col-1">Update</th>
            <th class="col-1">View</th>
            <th class="col-1">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of apiData">
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.username}}</td>
            <td>{{data.email}}</td>
            <td>
                <button class="btn btn-warning btn-sm m-1" (click)="onUpdate(data.id)">
                    Update
                </button>
            </td>
            <td>
                <button class="btn btn-secondary btn-sm m-1" (click)="onView(data.id)">
                    View
                </button>
            </td>
            <td>
                <button class="btn btn-danger btn-sm m-1" (click)="onDelete(data.id)">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>

<button (click) = "addNewUser()" class="addbtn">Add New User</button>
